html{
	box-sizing: border-box;
}
*,*::after,*::before{
	box-sizing: inherit;
}
body{
	padding: 0;
	margin: 0;
}
/*.center1200{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}*/
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
#warpper{
	/*width: 1200px;*/
	max-width: 1500px;
	min-width: 768px;
	margin: auto;
}
header,footer{
	border: 1px solid 	#880000 ;
	height: 150px;
	margin: 50px 0;
}
section#content{
	/*border: 1px solid #9df;*/
	/*padding-left: 250px;*/
}
aside{
	border: 1px solid #FF0000 ;
	width: 240px;
	min-height: 600px;
	float: left;
}
aside:nth-child(2){
	float: right;
}
main{
	border: 1px solid 	#000000;
	min-height: 600px;
	width: auto;
	margin:0 250px;
}
