.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a{
	text-decoration: none;
}
figure{
	margin: 0;
}
.container{
	max-width: 1200px;
	margin: auto;
}
header{
	width: 100%;
	padding: 20px 0px;
	background-color: rgba(0,0,0,0);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	transition: all .5s;
}
header.on{
	padding: 3px 0;
	background-color: rgba(0,0,0,.8);
}
header .logo{
	float: left;
}
header .logo img{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
}
header .logo span.siteName{
	font-size:3em;
	vertical-align: middle;
	color: #fff;
	font-family: 'Dancing Script', cursive;
}
header .topMenu{
	float: right;
}
header .topMenu li{
	float: left;
	margin: 20px;
}
header .topMenu li a{
	color: #ffffff;
	text-shadow: 1px 1px 3px rgba(0,0,0,.2);
	transition: color .5s;
}
header .topMenu li.active a,
header .topMenu li a:hover{
	color: #339BEB;
}
.banner{
    color: #fff;
	background: url(../img/pexels-photo-404747.jpeg) no-repeat center top;
	background-size: cover;